{{ define "content" }}

<v-img src="/static/image/govuebanner.png">
    <v-row align="end" class = "lightbox blue--text pa-4 fill-height">
        <v-col>
            <div class="display-2">GoVue Intro</div>
        </v-col>
    </v-row>
</v-img>
<v-row column align="center" justify="center">
    <v-col>
        <h1 color="grey darken-3" class="mb-2 mt-4 display-1 text-center">
            Go + Vue
        </h1>
        <div color="grey darken-3" class="subheading mb-3 text-center">
            <a href="https://en.wikipedia.org/wiki/Peanut_butter_and_jelly_sandwich">What could be better?</a>
        </div>
    </v-col>
</v-row>

{{ end }}
