{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="GoVue Intro">
        <meta name="author" content="Eric Lang (exyzzy)">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <link rel="icon" href="/static/favicon.ico">

        <title>GoVue Intro</title>

        <!-- CSS -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>

    <body>
        <div id="app" v-cloak>
            <v-app>
                <header>
                    {{ template "toolbar" . }}
                </header>
                <v-content>
                    {{ template "content" . }}
                </v-content>
                <footer>
                    <v-footer app height="auto" dark color="grey darken-2" >
                        <v-row justify-center row wrap >
                            <v-col
                                class="text-center white--text"
                                cols="12"
                            >
                            &copy;${ new Date().getFullYear() } — <strong>Eric Lang</strong>
                            </v-col>                            
                        </v-row>
                    </v-footer>
                </footer>
            </v-app>
        </div>
        
        <!-- JS -->  
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>        
        <script src="https://cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>

        {{ template "vue" . }}

    </body>
</html>

{{ end }}